body,
html {
	height: 100%;
}

* {
	box-sizing: border-box;
}

.bg-img {
	/* The image used */
	background-image: url("https://assets-global.website-files.com/62cc41be1fb31d71cdfb0756/62cf26f9a785188794f26bfe_60526d2ff32d9c77594c4671_sample7.png");

	/* Control the height of the image */
	min-height: 90vh;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

/* Add styles to the form container */
.container {
	position: absolute;
	justify-content: center;
	right: 42vw;
	margin: 20px;
	max-width: 300px;
	padding: 16px;
	background-color: white;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}

/* Set a style for the submit button */
.btn {
	background-color: #04AA6D;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

.btn:hover {
	opacity: 1;
}